.wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.25s;
    margin: 20px;
    border-radius: 5px;
    color: tomato;
}

.card h3 {
    font-size: 20px;
}
.rounded:hover {
    cursor: pointer;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
    font-size: 22px;
  }